@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.no-scrollbar {
  scrollbar-width: none; /* For Firefox */
}

/* For IE, Edge */
.no-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
