@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.chatDarkBg {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("/src/assets/darkChatBg.png");
  background-size: contain;
}

.callBackground {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("/src/assets/darkChatBg.png");
  background-size: contain;
}

.css-1u9des2-indicatorSeparator {
  display: none !important;
}
